<div class="container-fluid position-relative projects-container">
  <div class="row">

                    <!-- header section -->
              <div class="col-12 headout p-3">
                <h2 class="headers p-2">Projekty</h2>
              </div>

              <!--Section filter  -->
              <div class="filter-section">
          <app-filter #filterchild></app-filter>
              </div>


              <div class="container p-3 pb-5">

                      <!-- iteration of projects -->
                <div class="row p-4" *ngIf="projects && projects.length > 0; else NoProjects">
                <div class="col-11 col-md-5 smallprojects position-relative m-3" *ngFor="let project of projects | myfilter: filters" [ngStyle]="{'background-image':' url(' + project.img_url + ')'}">
                  <i class="fas fa-chevron-right c-pointer" (click)="CreateDynamicDataComponent(project)"></i>
                  <div class="myposition position-absolute"><p class="inside text-center">{{project.shortdescription}}</p></div>
                </div>

                        <!-- info content -->
                  <div class="col-12">
                    <p class="p-lg-5 p-md-3 p-1 addtab text-center pb-4">Wszystkie powyższe projekty były w 100% moim pomysłem i wykonane w 100% przeze mnie (Wyjątkiem jest strona domekon.pl). </p>
                  </div>
                </div>
                            <!-- Template for dynamic component -->
                <ng-template #templateDetails></ng-template>

                            <!-- Template for no projecs-->
                <ng-template #NoProjects><h2>Something went wrong! Let's try once again!</h2></ng-template>
              </div>
              </div>
                                  <!-- Footer -->
                <h6 class="col-sm-12 text-white footer text-center">Copyright © 2018 Website - Paweł Skrzeszewski all rights reserved. </h6>
</div>
