<h1 class="headers text-center mt-3">Projects</h1>
<app-filter #filterchild></app-filter>
<div class="container p-5">
  <div class="row">
  <div class="col-sm-3 smallprojects position-relative m-3 c-pointer" *ngFor="let project of projects | myfilter: filters" (click)="CreateDynamicDataComponent(project)">
    <div class="myposition position-absolute"><p class="inside text-white text-center">{{project.shortdescription}}</p></div>
  </div>
    <div class="col-sm-12">
      <p class="p-5">This tab will be edited with the appearance of new projects made by me.
        Everything in the above projects was invented and written by me</p>
    </div>
  </div>
  <ng-template #templateDetails></ng-template>
</div>
