@import "../../../assets/styles/variables";

@function white($opacity) {
  @return rgba(white, $opacity)
}
.smallprojects {
  @include WidthHeight(100%, 300px);
  opacity: 1;
  position: relative;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  &:hover {
    border: solid $mainColor 3px;
    @include hover-transition;
  }
  &:focus .fa-search{
    opacity: 0;
  }
  &:hover .myposition {
    height: 100%;
  }
  &:hover .inside{
    opacity: 1;
  }
  &:hover .fa-search {
    opacity: 1;
    z-index: 2;
  }
}
.myfluid {
  background-image: url("../../../assets/images/tlo6.jpg");
  margin-top: -8vh;
}

.fa-search {
  position: absolute;
  left: 45%;
  top: 40%;
  padding: 5px;
  border: solid 3px $mainColor;
  border-radius: 15px;
  color: white;
  background-color: #adb5bd;
  opacity: 0;
  font-size: 40px;
  &:hover {
    transform: scale(1.1);
  }
  @include x-small {
    font-size: 25px;
    top: 45%;
  }
}

.myposition{
  left: 0;
  bottom: 0;
  @include WidthHeight(100%, 0);
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 900ms;
  transition: all 900ms;
}
.inside {
  opacity: 0.0;
  padding: 50px;
  color: $mainColor;
  font-family: 'Bitter', serif;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-transition: all 900ms;
  transition: all 900ms;
}
.addtab {
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 0.9em;
  opacity: 0.6;
}
.projects-container {
  margin-top: -70px;
  padding-bottom: 20px;
  overflow-y: auto;
  //margin-bottom: -50px;
  background-image: url("../../../assets/images/tlo6.jpg");
}


@media (max-width: $x-small) {

}

