
<div class="object one">
  <div class="homesection text-white">Hello, <br />
    my name is <b>Paweł Skrzeszewski</b><br />
    and I am a novice <br />
    <b>front-end developer </b>.</div>
  <span class="myrelative">Would you like to know more about me?</span>
  <i class="fas fa-arrow-down mymargin btn mt-5" (click)="scrollTo('#fat',-20,500)" mat-raised-button matTooltip="Enter" TooltipPosition='right'></i>
</div>

<!--
<div class="object one">
  <h1>Smash It</h1>
</div>
<div class="content">
  <p>I heard this story when I was a kid.

    The story's about an old man who used to plant potatoes in his field every year, and for that he had to spade the whole field all by himself. His son used to help him do so, but this year he was in prison.

    So, the father wrote to his son saying, "I hate the fact that I am getting too old to dig up the garden alone. Had you been here, you would have helped me dig up the plot. I think I'll not be able to plant potatoes this year."

    The son wrote back to him telling him NOT to dig up the potato gardens, since he had hidden GUNS over there!! The very next day, police came over to the father's house and dug up the entire field to find the guns. Needless to say, they didn't find any.

    When the father wrote to his son again to tell him about the arrival of the police and how they dug up everything, the son wrote back saying, "Go ahead and plant your potatoes Dad, this is the best I could do from over here!"</p>
</div>

<div class="object two">
  <h1>I Am The fastest Man Alive</h1>
</div>
<div class="content">
  <p>I heard this story when I was a kid.

    The story's about an old man who used to plant potatoes in his field every year, and for that he had to spade the whole field all by himself. His son used to help him do so, but this year he was in prison.

    So, the father wrote to his son saying, "I hate the fact that I am getting too old to dig up the garden alone. Had you been here, you would have helped me dig up the plot. I think I'll not be able to plant potatoes this year."

    The son wrote back to him telling him NOT to dig up the potato gardens, since he had hidden GUNS over there!! The very next day, police came over to the father's house and dug up the entire field to find the guns. Needless to say, they didn't find any.

    When the father wrote to his son again to tell him about the arrival of the police and how they dug up everything, the son wrote back saying, "Go ahead and plant your potatoes Dad, this is the best I could do from over here!"</p>
</div>

<div class="object three">
  <h1>Jarvis How Much Power Left ?</h1>
</div>
<div class="content">
  <p>I heard this story when I was a kid.

    The story's about an old man who used to plant potatoes in his field every year, and for that he had to spade the whole field all by himself. His son used to help him do so, but this year he was in prison.

    So, the father wrote to his son saying, "I hate the fact that I am getting too old to dig up the garden alone. Had you been here, you would have helped me dig up the plot. I think I'll not be able to plant potatoes this year."

    The son wrote back to him telling him NOT to dig up the potato gardens, since he had hidden GUNS over there!! The very next day, police came over to the father's house and dug up the entire field to find the guns. Needless to say, they didn't find any.

    When the father wrote to his son again to tell him about the arrival of the police and how they dug up everything, the son wrote back saying, "Go ahead and plant your potatoes Dad, this is the best I could do from over here!"</p>
</div>

<div class="object four">
  <h1>Why So Serious</h1>
</div>
<div class="content">
  <p>I heard this story when I was a kid.

    The story's about an old man who used to plant potatoes in his field every year, and for that he had to spade the whole field all by himself. His son used to help him do so, but this year he was in prison.

    So, the father wrote to his son saying, "I hate the fact that I am getting too old to dig up the garden alone. Had you been here, you would have helped me dig up the plot. I think I'll not be able to plant potatoes this year."

    The son wrote back to him telling him NOT to dig up the potato gardens, since he had hidden GUNS over there!! The very next day, police came over to the father's house and dug up the entire field to find the guns. Needless to say, they didn't find any.

    When the father wrote to his son again to tell him about the arrival of the police and how they dug up everything, the son wrote back saying, "Go ahead and plant your potatoes Dad, this is the best I could do from over here!"</p>
</div>
-->
