.fas {
  font-size: 3rem;
  transition: top ease 0.5s;
  &:hover {
    top: 73vh;
  }
}
.mainfixed {
  position: fixed;
  color: white;
  z-index: 1;
  top: 70vh;
  left: 50vw;
}
.homesection {
  top: 25vh;
  left: 20vw;
}
.myrelative {
  top: 67vh;
  left: 41vw !important;
}
.object{
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 350px;
  display: table;
}
.one{
  background-image: url("../../../assets/images/7.jpg");
}

