@import "../../../assets/styles/variables";
.fas {
  @include MyFixed_Top_Left_textwhite(70vh, 50vw, white);
  font-size: 3rem;
  transition: top ease 0.5s;
  &:hover {
    top: 73vh;
  }
}
.homesection {
  @include MyFixed_Top_Left_textwhite(25vh, 20vw, white);
}
.myrelative {
  @include MyFixed_Top_Left_textwhite(67vh, 41vw, white);
}
.object{
  @include WidthHeight(auto, 100vh);
  background-size: cover;
  background-attachment: fixed;
  padding-top: 350px;
  display: table;
}
.one{
  background-image: url("../../../assets/images/7.jpg");
}

