@import "../../../assets/styles/variables";

@keyframes showDynamicComponent {
  0% { opacity: 0;}
  90% { opacity: 1;
  }
}
#head {
  border-bottom: $mainColor solid 1px;
  color: $mainColor;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}
.tools {
  background-color: $mainColor;
}
.tools > a {
  border-bottom: solid 1px white;
  &:hover {
    opacity: .7;
    text-decoration: none;
    border: none;
  }
}


.mydiv {
  @include MyFixed_Top_Left_textwhite(0, 0, white);
  padding: 5%;
  //background-color: rgba(0,0,0,0.3);
  @include WidthHeight(100%, 100vh);
  @include animation ('showDynamicComponent 2s');
}
.detail-inside {
  @include WidthHeight(100%, 100%);
  position: relative;
  border: gray 1px solid;
  color: black;
  @include project_detatil_shadow;
  background-color: white;
  //background: rgba(100, 149, 237, 0.6);
}
.leftCont {
  border-right: $mainColor solid 2px;
}
.gitlink {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.s {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
}

                                          //media queries
@media (max-width: $small) {
 .mydiv {
   left: 0;
 }
}

/* Gets applied if supported only */
@supports ((-webkit-backdrop-filter: blur(5px))) {
  .mydiv {
   @include myblur(5px);
  }
  .detail-inside {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
}
