@import "../../../assets/styles/variables";

@keyframes showDynamicComponent {
  0% { opacity: 0;}
  90% { opacity: 1;
  }
}
#head {
  border-bottom: $mainColor solid 1px;
  color: $mainColor;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}






.mydiv {
  @include MyFixed_Top_Left_textwhite(0, 0, white);
  padding: 5%;
  @include WidthHeight(100%, 100vh);
  z-index: 3 !important;
  @include animation ('showDynamicComponent 2s');

  @include small {
    left: 0;
  }
  @include medium {
    //overflow-y: visible;
  }
}

        .tools {
          display: table;
          height: 160px;
          width: 100%;
          //top: calc(91px);
          .tools-inside {
            background-color: $mainColor;
            position: relative;
            top: 160px;
            transform: translateY(-100%);
            height: 80px;
          }
        }

        .tools > a {
          border-bottom: solid 1px white;
          &:hover {
            opacity: .7;
            text-decoration: none;
            border: none;
          }
        }



.detail-inside {
  @include WidthHeight(100%, 100%);
  position: relative;
  border: gray 1px solid;
  padding: 10px 10px 0;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  @include project_detatil_shadow;
  background-color: white;

      @include small {
        overflow-y: auto;
        overflow-x: hidden;
      }
}

.leftCont {
  border-right: $mainColor solid 2px;
}
.gitlink {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.s {
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
}
#detail_img {
  @include small {
    display: none;
  }
}

                                          //media queries
@media (max-width: $small) {


}
@media (max-width: $medium) {


}

/* Gets applied if supported only */
@supports ((-webkit-backdrop-filter: blur(5px))) {
  .mydiv {
   @include myblur(5px);
  }
  .detail-inside {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
}

