@import "../../../assets/styles/variables";

@keyframes showDynamicComponent {
  0% { opacity: 0;}
  90% { opacity: 1;
  }
}


.mydiv {
  @include MyFixed_Top_Left_textwhite(0, 0, white);
  padding: 5%;
  //background-color: rgba(0,0,0,0.3);
  @include WidthHeight(100%, 100vh);
  @include animation ('showDynamicComponent 2s');
}
.detail-inside {
  @include WidthHeight(100%, 100%);
  position: relative;
  border: gray 1px solid;
  @include project_detatil_shadow;
  background-color: white;
  //background: rgba(100, 149, 237, 0.6);
}

                                          //media queries
@media (max-width: $small) {
 .mydiv {
   left: 0;
 }
}

/* Gets applied if supported only */
@supports ((-webkit-backdrop-filter: blur(5px))) {
  .mydiv {
   @include myblur(5px);
  }
  .detail-inside {
    -webkit-box-shadow: 0 0 0 0;
    -moz-box-shadow: 0 0 0 0;
    box-shadow: 0 0 0 0;
  }
}
