
<div class="container-fluid text-justify position-relative bg-transparent">
  <div class="row">
    <div class="col-sm-12 p-0 sro"><app-main-home></app-main-home></div>
    <div class="col-sm-12 p-0"><app-main-navi #naviChild></app-main-navi></div>
    <div class="col-sm-12 p-0 container-section text-left">
      <div #fat1 class="section" id="fat">
        <h3>@About Me</h3>
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="left-sq p-5">
              <p>I come from Poland, and i'm 26. I grew up in a small town near Olsztyn.
                I graduated from the University of Warmia and Mazury in Olsztyn with an engineering degree in the field of management and production engineering.
                Programming is for me more than just a way of spending my free time. I constantly want to deepen my knowledge and develop my projects.</p>
              <p>Currently I'm living in Netherlands and looking for a job as a front-end developer and working on my next projects.</p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 p-3">
            <div class="right-what-ido pl-3">
              <img src="../../../assets/images/studnowy.png" class="imager">
            </div>

          </div>
        </div>


      </div>
      <div class="section object one text-white" id="mdo">
        <h3>@What i Do</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="left-sq p-5">
              <img src="../../../assets/images/jsnowy.png" alt="js" class="imager">

            </div>

          </div>
          <div class="col-sm-6 p-3">
            <div class="right-what-ido p-3">
              <p>At the beginning of my adventure with programming I wanted to try everything. I did some smaller projects using Java, PHP5, C++, but JavaScript has inspired me to deepen my knowledge in this direction.</p>
              <p>In my projects I wanted to focus on getting to know as many secrets of programming as possible. My previous projects show how my knowledge is being expanded and what progress I have made.
                All of my projects, which can be found in the <span class="projectspan" [routerLink]="['/projects']"><u>Projects</u></span>, were entirely invented and created by me.</p>
            </div>


          </div>
        </div>

      </div>
      <div class="section" id="one">
        <h3>@Skills</h3>
        <div class="row pt-md-5 pt-sm-1">
      <div class="col-md-6 col-sm-12 p-3 myposleft" #skillleft>
        <div class="skill-name"><b>HTML 5</b><div class="stars" [innerHtml]="threestars"></div></div>
        <div class="skill-name"><b>CSS3/Less/SCSS</b><div class="stars" [innerHtml]="threestars"></div></div>
        <div class="skill-name"><b>Responsive Web Design</b><div class="stars" [innerHtml]="fourstars"></div></div>
        <div class="skill-name"><b>Bootstrap</b><div class="stars" [innerHtml]="fourstars"></div></div>
        <div class="skill-name"><b>TDD, Jasmine, Karma</b><div class="stars" [innerHtml]="twostars"></div></div>
      </div>
          <div class="col-md-6 col-sm-12 p-3 myposright" #skillright>
              <div class="skill-name"><b>JavaScript/TypeScript</b><div class="stars" [innerHtml]="fourstars"></div></div>
              <div class="skill-name"><b>jQuery</b><div class="stars" [innerHtml]="threestars"></div></div>
              <div class="skill-name"><b>Angular 4+</b><div class="stars" [innerHtml]="fourstars"></div></div>
              <div class="skill-name"><b>Git</b><div class="stars" [innerHtml]="threestars"></div></div>
              <div class="skill-name"><b>Search Engine Optimization (SEO)</b><div class="stars" [innerHtml]="twostars"></div></div>
          </div>
      </div>
      </div>
    </div>

  </div>
  <div class="col-sm-12 footer text-center small">Copyright © 2018 Website - Paweł Skrzeszewski all rights reserved. </div>
</div>

