
      <!-- Home section-->

                <div class="section-home container-fluid p-0 home-container" #top id="top">
                  <app-main-home></app-main-home>
                </div>


                <!-- Bottom Navigation-->
          <section class="section-navigation">
            <app-main-navi #naviChild></app-main-navi>
          </section>

                              <!-- About me section -->
                        <section class="section-about alt-bg section position-relative" #fat1 id="fat">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
                          <div class="main-headers">
                            <h2>@O Mnie</h2>
                          </div>
                        </div>
                          <div class="col-12 col-md-6">
                            <div class="about-me-content p-1 p-md-3 p-lg-4 text-justify">
                              <p>Pochodzę z Polski i mam 27 lat. Dorastałem w małym mieście nieopodal Olsztyna.
                                Ukończyłem Uniwersytet Warmińsko-Mazurski z tytułem inżyniera na kierunku Zarządzanie i Inżynieria Produkcji.
                              <p>Obecnie mieszkam w Gdańsku i rozwijam się dalej jako front-end developer w pracy z własnymi projektami.
                              Jestem otwarty na wszelkie formy współpracy które pozwolą mi doskonalić moją wiedzę.
                              Prywatnie jestem bardzo miłym człowiekiem, uwielbiam piłkę nożną, kolarstwo i dobrą kawę :)
                              </p>
                              <div class="soc-links">
                                <a target="_blank" rel="noopener" href="https://www.facebook.com/pawelskrzeszewski92"><i class="fab fa-facebook-square"></i></a>
                                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/paweł-skrzeszewski-847a3413a/"><i class="fab fa-linkedin"></i></a>
                                <a target="_blank" rel="noopener" href="https://github.com/skrzeku"><i class="fab fa-github"></i></a>
                              </div>
                            </div>
                          </div>
                          <div class="col-12 col-md-6">
                            <div class="right-what-ido p-2 p-md-3 p-lg-4" id="studentimg">
                              <img src="../../../assets/images/studnowy.png" class="imager" alt="student img">
                            </div>
                          </div>
                      </div>
                    </div>
                  </section>

                          <!-- What i Do section-->
                    <section class="what-i-do-section section" id="mdo">
                      <div class="container-fluid">
                        <div class="row">

                          <div class="col-12">
                            <div class="main-headers text-white">
                            <h2>@Co robię</h2>
                            </div>
                          </div>

                            <div class="col-12 col-md-6">
                              <div class="left-sq p-2 p-md-3 p-lg-4" id="jsleft">
                                <img src="../../../assets/images/jsnowy.png" alt="javascript img" class="imager">
                              </div>
                            </div>

                            <div class="col-12 col-md-6">
                              <div class="right-what-ido text-white p-1 p-md-3 p-lg-4" id="whatidopar">
                                <p> Na początku mojej przygody z programowaniem próbowałem odnaleźć siebie w konkretnych technologiach.
                                  Wykonałem kilka mniejszych projektów przy użyciu Java, PHP5, C++ ale to JavaScript zainspirowałą mnie do pogłębiania mojej wiedzy w tym kierunku.
                                 </p>
                                <p>W swoich projektach chciałem skupić się na poznaniu jak najwięszej ilości sekretów JavaScript. Moje poprzednie projekty mają na celu pokazanie w jaki sposób się rozwijam.
                                  Obecnie moją prawdziwą pasją jest tworzenie interaktywnych i responsywnych stron internetowych oraz aplikacji typu SPA (Single Page Application).
                                  Praca z własnymi projektami wspomaga moją kreatywność oraz pozwala na udoskonalanie wiedzy z zakresu technologii front-end włącznie z Typescript, JavaScript, Angular, Bootstrap oraz preprocesorami CSS.

                                  Wszystkie moje projekty można znaleźć w zakładce <span class="projectspan" [routerLink]="['/projects']"><u>Projekty</u></span>.</p>
                              </div>
                              <div class="clearfix"></div>
                            </div>
                          </div>
                        </div>
                    </section>

              <!-- Skills section-->
      <section class="section-skills section alt-bg position-relative" id="one">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="main-headers">
                <h2>@Umiejętności</h2>
              </div>
            </div>
            <div class="col-12 col-sm-6 skillsleft p-2 p-md-3 p-lg-4 pb-5" #skillleft>
              <h4 class="skill-name"><b>HTML 5</b><div class="stars" [innerHtml]="threestars"></div></h4>
              <h4 class="skill-name"><b>CSS3/Less/SCSS</b><div class="stars" [innerHtml]="threestars"></div></h4>
              <h4  class="skill-name"><b>Responsive Web Design</b><div class="stars" [innerHtml]="fourstars"></div></h4>
              <h4 class="skill-name"><b>Bootstrap</b><div class="stars" [innerHtml]="fourstars"></div></h4>
              <h4 class="skill-name"><b>TDD, Jasmine, Karma</b><div class="stars" [innerHtml]="twostars"></div></h4>
            </div>
            <div class="col-12 col-sm-6 skillsright p-2 p-md-3 p-lg-4 pb-5" #skillright>
              <h4 class="skill-name "><b>JavaScript/TypeScript</b><div class="stars" [innerHtml]="fourstars"></div></h4>
              <h4 class="skill-name "><b>jQuery, Node.js</b><div class="stars" [innerHtml]="threestars"></div></h4>
              <h4 class="skill-name "><b>Angular 4+</b><div class="stars" [innerHtml]="fourstars"></div></h4>
              <h4 class="skill-name "><b>Git, Webpack</b><div class="stars" [innerHtml]="threestars"></div></h4>
              <h4 class="skill-name "><b>Search Engine Optimization</b><div class="stars" [innerHtml]="fourstars"></div></h4>
            </div>

          </div>
        </div>
      </section>
      <section>
        <div class="container-fluid alt-bg">
          <div class="row">
            <!-- Footer -->
            <h6 class="col-12 footer-content footer text-center">Copyright © 2018 Website - Paweł Skrzeszewski all rights reserved. </h6>
          </div>
        </div>
      </section>


