@import "../../../assets/styles/variables";
.myind {
  z-index: 10;
}
h4 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 140px;
  border-bottom: $mainColor solid 5px;
}
.section {
  height: 100vh;
  padding-top: 50px;
}
.skill-name {
  padding: 15px 0 15px 40px;
  margin: 10px 0 0 5px;
  border: solid $mainColor 3px;
}
#myEmailForm > span{
  display: block;
  text-align: center;
}
.myimages {
  width: 100px;
}
.rating {
 width: 100px;
}
.stars {
  float: right;
}
.myposleft {
  left: -100px;
  opacity: 0;
}
.myposright {
  right: -100px;
  opacity: 0;
}


