.navbar-nav {
  display: inline-block;
}
.navbar-nav>li {
  display: inline-block;
  margin-left: 30px;
}
.nav {
  font-size: large;
  opacity: 2;
}
body {
  opacity: 1;
}
.navbar {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.mymargin {
  margin-top: 200px;
}

.mybackground:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 1) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(49%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(255, 255, 255, 1)));
  /* Chrome,Safari4+ */

  /* W3C */

  /* IE6-9 */
}
