

<div class="container-fluid position-relative contact-container">
  <div class="row">
    <div class="col-12 headout p-3">
      <h2 class="headers p-2">Contact</h2>
    </div>
    <div class="offset-1 col-10 p-md-3 p-1">
              <!-- Text section-->
      <div class="textaboutmail p-md-3 p-1">
        <p>Would you like to ask me about my projects, send me a job offer?
          I’ll try my best to answer the questions.</p>
      <p>For contact you can use both the contact form and my email below.</p>
      </div>
    </div>

    <!-- Email Form left side-->

        <div class="col-12 col-md-7 offset-lg-1 col-lg-5 alldiv p-2 p-md-1">

          <form [formGroup]="emailform" class="p-4" id="myEmailForm">
            <div class="erro" *ngIf="error_bool" [ngClass]="{'sent': has_sended}">{{error_text}}</div>
            <input formControlName="subject" type="text" id="subject" class="myinput" placeholder="Subject">
            <input formControlName="email" type="email" id="email" class="myinput" placeholder="example@gmail.com">
            <textarea formControlName="Body" name="Body" id="Body" class="myinput mt-4 w-100" placeholder="Text"></textarea>
            <button type="submit" class="btn mybutton" (click)="SendMail()">Send</button>
          </form>
        </div>



                    <!-- Social media links right side -->

        <div class="col-12 offset-sm-1 col-sm-10 col-md-4 offset-md-1 p-2 p-sm-3 p-md-4 pb-5 pr-5 pl-5">
          <div class="contact-media">
            <div class="soc-links p-2">
              <!--<span class="text-white mediaspan">Social Media links:</span> -->
              <div class="links-around">
                <span>
                  <a target="_blank" rel="noopener" href="https://www.facebook.com/pawelskrzeszewski92"><i class="fab fa-facebook-square"></i></a>
                </span>
              <span>
                <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/paweł-skrzeszewski-847a3413a/"><i class="fab fa-linkedin"></i></a>
              </span>
                <span>
                  <a target="_blank" rel="noopener" href="https://github.com/skrzeku"><i class="fab fa-github"></i></a>
                </span>



              </div>
            </div>
            <div class="text-white about-cont p-2">
              <p>Paweł Skrzeszewski</p>
              <p>Heiloo</p>
              <p>Netherlands</p>
              E-mail:
              <a target="_top" rel="noopener" href="mailto:pawelskrzeszewski92@gmail.com">pawelskrzeszewski92@gmail.com</a>
            </div>
          </div>
        </div>
        <!-- Google maps right side -->
        <!-- MAPS RIGHT-->

        <div class="col-12 offset-sm-1 col-sm-10 offset-md-3 col-md-6 p-2 pb-5 pr-5 pl-5">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="600" height="650" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJkzykSQP4xUcRhYfb_P1YQn0&key=AIzaSyBgf9ERasF9BPc2RpLqVqf8GeWXtlJ46ZI" allowfullscreen></iframe>
          </div></div>
    <h6 class="col-sm-12 text-white footer text-center">Copyright © 2018 Website - Paweł Skrzeszewski all rights reserved. </h6>

  </div>

</div>




