@import "../../../assets/styles/variables";

      //navbar
      .my-navbar-top {
        z-index: 50;
        height: 70px;
      }

                //lists
            .navbar-top-lists > li {
              padding: 10px;
              color: white;
              outline: 0;

              @include medium {
                color: black;
                padding: 5px;
                background-color: #adb5bd;
                border: solid 2px white;
                margin-left: 60%;
              }
              @include large {
                padding: 7px;
              }
            }
i, a {
  display: inline;
}



.nav-link {
  color: white !important;
}
.navbar-toggler {
  background-color: #adb5bd;
}

              //for active tab
          .active {
            border-bottom: solid $mainColor 3px;
          }
          .active > i, .active > a{
            @include medium {
              color: $mainColor !important;
              font-weight: bold;
            }
          }




