@import "../../../assets/styles/variables";

      //navbar
      .my-navbar-top {
        z-index: 50;
        height: 70px;
      }

              .navbar-top-lists >li{
                outline: 0;
                margin-right: 5px;

                @include medium {
                  color: black;
                  padding: 5px;
                  background-color: #adb5bd;
                  border: solid 2px white;
                  margin-left: 60%;
                }
                @include large {
                  padding: 7px;
                }
                &:hover {
                  border-bottom: solid 1px $mainColor;

                }

              }
                //lists
            .navbar-top-lists > li > a, i{
              padding: 6px;
              color: white;
              font-size: 16px;


            }
i, a {
  display: inline;
}



.nav-link {
  color: white !important;
}
.navbar-toggler {
  background-color: #adb5bd;
}

              //for active tab
          .active {
            border-bottom: solid $mainColor 2px;
          }
          .active > i, .active > a{
            @include medium {
              color: $mainColor !important;
              font-weight: bold;
            }
          }




