
<nav class="navbar navbar-expand-lg navbar-light bg-transparent my-navbar-top">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02" #navcollapse>
    <ul class="navbar-nav ml-auto navbar-top-lists" (click)="dosmthg()">
      <li [routerLink]="['/main']" [routerLinkActive]="'active'"><i class="fas fa-home"></i>
        <a class="nav-link">Home</a></li>
      <li [routerLink]="['/projects']" [routerLinkActive]="'active'">
        <i class="fas fa-file-code"></i><a class="nav-link">Projects</a>
      </li>
      <li [routerLink]="['/contact']" [routerLinkActive]="'active'">
        <i class="fas fa-at"></i><a class="nav-link">Contact</a>
      </li>
    </ul>
  </div>
</nav>



