<nav class="navbar shadow-lg navbar-expand-lg fixed-left fixed-top navbar-light bg-light d-inline-block">
  <a class="navbar-brand rounded-circle mt-5 mb-5" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse mt-5" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-inline-block">
      <li [routerLink]="['main']" [routerLinkActive]="'active'"><i class="fas fa-home"></i><a class="nav-link d-inline ml-1">Home</a></li>

      <li [routerLink]="['/projects']" [routerLinkActive]="'active'">
        <i class="fas fa-file-code"></i><a class="nav-link d-inline ml-1">Projects</a>
      </li>
      <li [routerLink]="['/contact']" [routerLinkActive]="'active'">
        <i class="fas fa-at"></i><a class="nav-link d-inline">Contact</a>
      </li>
    </ul>
  </div>
</nav>
