@import "../../../assets/styles/variables";
#mainnavbar {
  @include WidthHeight(100%, 50px);
  margin-top: -50px;
  z-index: 11 !important;
  @include small {
    display: none;
  }
}
.alists > a {
  margin-left: 15px;
}

.navbar-nav {
  @include medium {
    flex-direction: row;
  }
}

                        //Added by ngClass
.main-navbar-fixed {
  position: fixed;
  top: 50px;
  background-image: url("../../../assets/images/tlo6.jpg");
  background-size: cover;
}
.active {
  height: 50px;
  background-color: #DC143C;
}


@media (max-width: $x-small) {

}

// Small devices (landscape phones, 576px and up)
@media (max-width: $small) {

}

// Medium devices (tablets, 768px and up)
@media (max-width: $medium) {


}

// Large devices (desktops, 992px and up)
@media (max-width: $large) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $x-large) {
}
