
<nav class="navbar navbar-expand-lg text-white" id="mainnavbar" [ngClass]="{'main-navbar-fixed': fixednavbar}">
    <div class="navbar-nav alists p-0">
      <a class="nav-item nav-link active" (click)="myvoid('#fat',-20,500)">@About Me</a>
      <a class="nav-item nav-link" (click)="myvoid('#mdo',-50,500)">@What i do</a>
      <a class="nav-item nav-link" (click)="myvoid('#one',-20,500)">@Skills</a>
      <a class="nav-item nav-link" (click)="myvoid('#two',-20,500)">@Ask me</a>
    </div>
</nav>


