#mainnavbar {
  height: 6vh;
  z-index: 30;
  color: white;
  margin-top: -6vh;
  width: 100%;
}
.alists > a {
  margin-left: 15px;
}
                        //Added by ngClass
.main-navbar-fixed {
  position: fixed;
  top: 6vh;
  background-color: #eceff1;
  color: black !important;
}
.active {
  height: 6vh;
  color: white !important;
  background-color: cornflowerblue;
}


                                 // Extra small devices (portrait phones, less than 576px)
                                 // No media query since this is the default in Bootstrap
@media (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
  #mainnavbar {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (max-width: 991px) {
  .alists > a {
    font-size: 1.2rem;
  }
  .navbar-nav {
    flex-direction: row;
  }

}

// Large devices (desktops, 992px and up)
@media (max-width: 1199px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
