@import "variables";
.myfixed {
  position: fixed;
  left: 0;
  z-index: 10;
  top: 0;
  height: 100%;
  width: 15%;
}
.router {
  margin-left: 15%;
}
.myul {
  display: block;
}
body {
  font-size: 1.4rem;
  overflow-x: hidden;
}
.nav-link {
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 1;
  &:hover {
    opacity: 0.6;
  }
}
.myul > li {
  display: inline-block;
  font-size: 1.3rem;
}
.navbar-brand {
  font-family: "Comic Sans MS";
  font-size: 1.5rem;
width: 70%;
}
.social-media {
  position: absolute;
  top: 90vh;
  left: 0;
  width: 100%;
  height: 20vh;
  background-color: $mainColor;
}
.c-pointer {
  cursor: pointer;
}

//portfolio and contact headers
.headers {
  border-top: darkgray inset 2px;
  border-bottom: darkgray outset 2px;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
@media (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (max-width: 767px) {
body {
  font-size: 1.1rem;
}


}

// Medium devices (tablets, 768px and up)
@media (max-width: 991px) {

  .myfixed {
    position: relative;
    width: 100%;
    height: auto;
  }

  .router {
    margin-left: 0;
  }
  .myul > li {
    display: inline;
  }
  .img-fluid {
    display: none;
  }
  .navbar-brand {
    display: inline;
    font-size: 1.2rem;
  }
  .social-media {
    display: none;
  }
  .rwd-break { display: none; }

}

// Large devices (desktops, 992px and up)
@media (max-width: 1199px) {
  .myul > li > a{
    font-size: 1.1rem;
  }
  .social-media > a > i{
  }
  .navbar-brand {
    font-size: 1.3rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
 }


