@import "variables";
.myfixed {
  @include MyFixed_Top_Left_textwhite(0,0, white);
  z-index: 10;
  height: 100%;
  width: 15%;
}

body, html {
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-family: 'Cabin', sans-serif;
}
.headout {
  width: 100%;
  color: whitesmoke;
  height: 15vh;
  margin-top: 30px;
  background-size: cover;
}
                                  //space after sidebar
                                .router {
                                  margin-left: 15%;
                                }

.myul {
  display: block;
}

body {
  font-size: 1.3rem;

  background-color: #040505;
}
.nav-link {
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 1;
  &:hover {
    opacity: 0.6;
  }
}
.myul > li {
  display: inline-block;
  font-size: 1.3rem;
}
.navbar-brand {
  font-family: 'PT Serif', serif;
  font-size: 1.5rem;
  width: 70%;
}
.social-media {
  @include MyFixed_Top_Left_textwhite(90vh, 0, white);
  @include WidthHeight(100%, 20vh);
  position: absolute;
}
.c-pointer {
  cursor: pointer;
}

//portfolio and contact headers
.headers {
  @include FloatCenter;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 3px $mainColor;
  text-transform: uppercase;
  border-left: $mainColor solid 6px;
  font-family: 'Chakra Petch', sans-serif;
  width: 250px;
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
@media (max-width: $x-small) {
 @include bodyfs(0.8rem);
}

// Small devices (landscape phones, 576px and up)
@media (max-width: $small) {
@include bodyfs(1rem);
}

// Medium devices (tablets, 768px and up)
@media (max-width: $medium) {
 @include bodyfs(1.1rem);

  .myfixed {
    position: relative;
    @include WidthHeight(100%, auto);
  }

  .router {
    margin-left: 0;
  }
  .myul > li {
    display: inline;
  }
  .img-fluid {
    display: none;
  }
  .navbar-brand {
    display: inline;
    font-size: 1.2rem;
  }
  .social-media {
    display: none;
  }
  .rwd-break { display: none; }

}

// Large devices (desktops, 992px and up)
@media (max-width: $large) {
  .myul > li > a{
    font-size: 1.1rem;
  }
  .social-media > a > i{
  }
  .navbar-brand {
    font-size: 1.3rem;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $x-large) {
 }


