@import "variables";

body {
  color: $base-text;
  font-size: 1.3rem;
  background-color: #040505;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-family: 'Cabin', sans-serif;

}

.headout {
  width: 100%;
  color: whitesmoke;
}
                                  //space after sidebar
                                .router {
                                  margin-left: 15%;
                                }


h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.05em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

.nav-link {
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 1;
  &:hover {
    opacity: 0.6;
    @include hover-transition;
  }
}

//font awasome icons contact and main_about_me
/*
.soc-links > a > i {
  color: white;
  font-size: 2.5rem;
  margin: 15px;
  &:hover {
    opacity: 0.7;
  }
}
*/

.c-pointer {
  cursor: pointer;
}

//portfolio and contact headers
.headers {
  @include FloatCenter;
  text-align: center;
  font-weight: bold;
  text-shadow: 3px 3px 3px $mainColor;
  @include upper;
  border-left: $mainColor solid 6px;
  font-family: 'Chakra Petch', sans-serif;
  width: 200px;
}

//footer for every tab
.footer {
  opacity: 0.4;
  z-index: 11;
  font-family: "Magra";
}





// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
@media (max-width: $x-small) {
 @include bodyfs(0.8rem);
  h4 {
    font-size: 0.9em;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: $small) {
@include bodyfs(0.9rem);
}

// Medium devices (tablets, 768px and up)
@media (max-width: $medium) {
 @include bodyfs(1rem);

  .myfixed {
    position: relative;
    @include WidthHeight(100%, auto);
  }

  .router {
    margin-left: 0;
  }
  .img-fluid {
    display: none;
  }
  .social-media {
    display: none;
  }
  .rwd-break { display: none; }

}

// Large devices (desktops, 992px and up)
@media (max-width: $large) {
  .myul > li > a{
    font-size: 1.1rem;
  }
  .social-media > a > i{
  }
  @include bodyfs(1.2rem)
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $x-large) {
 @include bodyfs(1.4rem)
 }


          //helpful examples

    .no-padding > .row > div[class*='col-'] {
      padding-left: 0;
      padding-right: 0;
    }


