$maincolor: '#6495ED';
$myblue: blue;
$mainColor: cornflowerblue;

@mixin myblur($howmuch) {
  -o-backdrop-filter: blur($howmuch);
  -ms-backdrop-filter: blur($howmuch);
  -moz-backdrop-filter: blur($howmuch);
  -webkit-backdrop-filter: blur($howmuch);
  backdrop-filter: blur($howmuch);
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin WidthHeight($width, $height) {
  width: $width;
  height: $height;
}
@mixin MyFixed_Top_Left_textwhite ($top, $left) {
  position: fixed;
  color: white;
  z-index: 1;
  top: $top;
  left: $left;
}
