                  //VARIABLES
        //Colors
      $mainColor: #DC143C;
      $bgcolor: #f2f2f2;

    //media queries
    $x-large: 1200px;
    $large: 1199px;
    $medium: 991px;
    $small: 767px;
    $x-small: 575px;

                  //bootstrap changes
                  $c-danger: #F44E11;
                  $c-success: #23EF37;
                  $c-warning: #FDB82E;
                  $base-text: #3F3A3A;



                              //MIXINS
                  //body Font size
                  @mixin bodyfs ($fs){
                    body {
                      font-size: $fs;
                    }
                  }
        @mixin upper {
          text-transform: uppercase;
        }

          //media queries mixins
        @mixin x-small {
          @media (max-width: $x-small) {
            @content;
          }
        }
        @mixin small {
          @media (max-width: $small) {
            @content;
          }
        }
        @mixin medium {
          @media (max-width: $medium) {
            @content;
          }
        }
        @mixin large {
          @media (max-width: $large) {
            @content;
          }
        }
        @mixin x-large {
          @media (max-width: $x-large) {
            @content;
          }
        }


        //blur for safari (project-details)
@mixin myblur($howmuch) {
  -webkit-backdrop-filter: blur($howmuch);
}

      //mixin for animations (project-details)
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}


@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin translateAnimation($num) {
  -webkit-transform: translateY($num);
  -moz-transform: translateY($num);
  -ms-transform: translateY($num);
  -o-transform: translateY($num);
  transform: translateY($num);
}


@mixin Clearfix() {
  &::after {
    display: block;
    content: '';
    clear: both;
  }
}


@mixin WidthHeight($width, $height) {
  width: $width;
  height: $height;
}

@mixin MyFixed_Top_Left_textwhite ($top, $left, $color) {
  position: fixed;
  color: $color;
  z-index: 1;
  top: $top;
  left: $left;
}

@mixin FloatCenter {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

@mixin project_detatil_shadow {
  -webkit-box-shadow: 0 0 137px 112px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 137px 112px rgba(0,0,0,1);
  box-shadow: 0 0 137px 112px rgba(0,0,0,1);
}
              //hover transition
        @mixin hover-transition {
          transition: all 0.2s ease-in-out;
        }


        //flexboxes
        @mixin flex-display {
          display: flex;
          display: -ms-flexbox;
        }

        @mixin flex-justify {
          justify-content: space-between;
          -ms-flex-pack: justify;
        }
        @mixin flex-align {
          align-items: center;
          -ms-flex-align: center;
        }




