$mainColor: #DC143C;
$bgcolor: #f2f2f2;

@mixin myblur($howmuch) {
  -o-backdrop-filter: blur($howmuch);
  -ms-backdrop-filter: blur($howmuch);
  -moz-backdrop-filter: blur($howmuch);
  -webkit-backdrop-filter: blur($howmuch);
  backdrop-filter: blur($howmuch);
}
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
@mixin translateAnimation($num) {
  -webkit-transform: translateY($num);
  -moz-transform: translateY($num);
  -ms-transform: translateY($num);
  -o-transform: translateY($num);
  transform: translateY($num);
}


@mixin WidthHeight($width, $height) {
  width: $width;
  height: $height;
}
@mixin MyFixed_Top_Left_textwhite ($top, $left, $color) {
  position: fixed;
  color: $color;
  z-index: 1;
  top: $top;
  left: $left;
}
@mixin FloatCenter {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
@mixin project_detatil_shadow {
  -webkit-box-shadow: 0 0 137px 112px rgba(0,0,0,1);
  -moz-box-shadow: 0 0 137px 112px rgba(0,0,0,1);
  box-shadow: 0 0 137px 112px rgba(0,0,0,1);
}

  //media queries
$x-large: 1200px;
$large: 1199px;
$medium: 991px;
$small: 767px;
$x-small: 575px;


